body{
    display: block;
    width: 1366px;
    margin: 0 auto;
    padding:20px 20px 20px 60px;
    background: #fafafa;
    border-left:5px dashed #999;
}
.nav{
    width:100%;
    background:#fff;
    overflow: hidden;
}
.nav div{
    float: left;
    padding:10px;
    background: #82e8d1;
    margin: 0 5px;
    cursor: pointer;
}
.nav div:hover{
    color:#fff;
    background: #333;
}
.code{
    font-size: 14px;
    margin-bottom: 30px;
}
.code > .title{
    font-size: 18px;
    font-weight: bold;
    color: #1d9476;
    height: 30px;
    line-height: 30px;
}
.code > textarea{
    width:100%;
    overflow: hidden;
    resize:none;
    outline:none;
    line-height: 20px;
}
.code > ul{
    margin: 0;
    font-size: 14px;
}
.code > h3{
    font-size: 16px;
    margin:0;
    padding: 5px 0;
    text-indent: 10px;
}
.simple{
    color:#000;
    font-size: 14px;
    font-weight: bold;
    padding:0 10px;
    background: #fff;
}
.red{
    color:red;
    font-weight: bold;
    margin:0 10px;
}