@font-face {
    font-family: 'iconfont';
    src: url('../../index/iconfont.ttf') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #fafafa;
}
.left {
    width: 150px;
    height: 100%;
    background: #7772e1;
    float: left;
}
.left >h1 {
    font-size: 20px;
    color:#fff;
    text-align: center;
}
.left >a {
    font-size: 14px;
    color:#fff;
    width: calc(100% - 20px);
    height: 55px;
    line-height: 55px;
    padding:0 0 0 20px;
    display: block;
    text-decoration:none;
}
.left >a>i{
    margin-right: 10px;
    font-size: 28px;
}
.left > a:hover{
    background: rgba(0,0,0,.3);
}

.left > .active{
    background: rgba(0,0,0,.3);
}

.left > h3 {
    font-size: 14px;
    text-align: center;
    color:#333666;
}

.main{
    width: calc(100% - 150px);
    height: 100%;
    background: transparent;
    float: left;
    border: none;
}